/* vim: set et sta bs=2 sw=4 ft=css :*/
/* This is SCSS.  See sass-lang.com */
#header {
  /* decrease header font-size */
  /* change header logo */ }
  #header > h1 {
    font-size: 16pt; }
  #header > h2 {
    font-size: 14pt; }
  #header > #logo {
    width: 49px;
    background-image: url("ru-mobile.png");
    background-size: 47px 60px;
    /* required double DPI devices*/ }

#list {
  /* minimize padding */
  padding: 5px;
  /* hide the table header */ }
  #list > .header {
    display: none; }
  #list > .rows > div {
    /* make rows taller */
    height: 50px;
    /* adjust padding of the main bar */
    /* adjust positioning of the name cell */
    /* ... and the count cell */
    /* ... and the `gereserveerd tot/vanaf' text */
    /* adjust font-sizes */ }
    #list > .rows > div > .bar {
      position: absolute;
      top: 25px;
      left: 0;
      right: 70px;
      padding-left: 6px;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0; }
      #list > .rows > div > .bar .f, #list > .rows > div > .bar .u {
        background-size: 1px 18px;
        /* for high DPI devices */
        height: 18px; }
    #list > .rows > div > .name {
      width: auto;
      left: 6px;
      top: 2px; }
    #list > .rows > div > .count {
      top: 23px;
      width: 70px; }
    #list > .rows > div > .sched {
      left: 100px;
      top: 5px;
      font-size: 12pt; }
    #list > .rows > div > .name, #list > .rows > div > .count {
      font-size: 14pt; }
