/* vim: set et sta bs=2 sw=4 ft=css :*/
/* This is SCSS.  See sass-lang.com */

#header {
    /* decrease header font-size */
    > h1 {
        font-size: 16pt;
    }
    > h2 {
        font-size: 14pt;
    }

    /* change header logo */
    > #logo {
        width: 49px;
        background: {
           image: url('ru-mobile.png');
           size: 47px 60px; /* required double DPI devices*/
       }
    }
}

#list {
    /* minimize padding */
    padding: 5px;

    /* hide the table header */
    > .header {
        display: none;
    }

    > .rows {
        > div {
            /* make rows taller */
            height: 50px;

            /* adjust padding of the main bar */
            > .bar {
                position: absolute;
                top: 25px;
                left: 0;
                right: 70px;
                padding: {
                    left: 6px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

                .f, .u {
                    background-size: 1px 18px; /* for high DPI devices */
                }
            }

            /* adjust positioning of the name cell */
            > .name {
                width: auto;
                left: 6px;
                top: 2px;
            }

            /* ... and the count cell */
            > .count {
                top: 23px;
                width: 70px;
            }

            /* ... and the `gereserveerd tot/vanaf' text */
            > .sched {
                left: 100px;
                top: 5px;
                font-size: 12pt;
            }

            /* adjust font-sizes */
            > .name, > .count {
                font-size: 14pt;
            }
        }
    }
}
