/* vim: set et sta bs=2 sw=4 :*/
/* This is SCSS.  See sass-lang.com */
#header {
  /* change header font sizes */
  /* change header logo */ }
  #header > h1 {
    font-size: 22pt; }
  #header > h2 {
    font-size: 17pt; }
  #header > #logo {
    width: 49px;
    background-image: url("ru-mobile.png"); }

#list {
  /* hide the table header */ }
  #list > .header {
    display: none; }
  #list > .rows > div {
    /* make rows taller */
    height: 95px;
    /* adjust padding of the main bar */
    /* adjust positioning of the name cell */
    /* ... and the count cell */ }
    #list > .rows > div > .bar {
      padding-left: 20px;
      padding-top: 40px; }
    #list > .rows > div > .name {
      width: auto;
      left: 20px; }
    #list > .rows > div > .count {
      top: 37px;
      font-size: 15pt;
      color: #444; }
