/* vim: set et sta bs=2 sw=4 ft=css :*/
/* This is SCSS.  See sass-lang.com */

/* variables 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* colours */
$unired: #be311a; /* van www.ru.nl/huisstijl/basiselementen/kleuren/ */
$midgray: #e0e0e0;
$lightgray: #f5f5f5;
$bar_red: #be311a;
$bar_green: #118d01;

/* widths of columns */
$cw_name: 150px;
$cw_count: 100px;

/* Some small resets */
*, body {
    padding: 0;
    margin: 0;
}

/* Ground */
body {
    /* TODO Is Helvetica Neue installed? */
    font-family: arial;
}

/* The header */
#header {
    padding: 10px;
    color: white;
    background-color: $unired;
    position: relative;
    min-height: 60px;

    > h1, > h2 {
        font-weight: normal;
    }

    > h1 {
        font-size: 24pt;
    }

    > h2 {
        font-size: 18pt;
        font-style: italic;
    }

    > #logo {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 345px;
        height: 60px;
        background: {
            repeat: no-repeat;
            image: url('ru.png');
        }
    }
}

/* The main stuff */
#list {
    padding: {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 8px;
    };

    /* The header of the table */
    > .header {
        height: 25px;
        position: relative;

        > div {
            position: absolute;
            text-align: center;
            top: 0;
            font-weight: bold;
            font-size: 14pt;
        }

        > .name {
            width: $cw_name;
        }
        > .bar {
            width: 100%;
        }
        > .count {
            right: 0;
            width: $cw_count;
        }
    }

    /* The actual rows of the table */
    > .rows {
        position: relative;

        /* the loading indicator */
        .loading {
            width: 100%;
            background: url("loading.gif") center center no-repeat;
            background-size: 21px 21px;
        }

        /* A row in the table */
        > div {
            position: relative;
            height: 54px;

            /* background colors */
            &.odd {
                background-color: $midgray;
            }
            &.even {
                background-color: $lightgray;
            }

            > .name, > .count {
                position: absolute;
                font-size: 18pt;
                top: 14px;
                text-align: center;
            }

            /* name (left) cell */
            > .name {
                width: $cw_name;
            }

            /* schedule text */
            > .sched {
                position: absolute;
                left: $cw_name + 10px;
                font-size: 14pt;
                top: 16px;
                font-style: italic;
            }

            /* count (right) cell */
            > .count {
                width: $cw_count;
                right: 0;
            }

            /* the main bar (center) cell */
            > .bar {
                padding-left: $cw_name;
                padding-right: $cw_count;
                padding-top: 9px;

                > div {
                    position: relative;

                    /* shade if currently reserved ... */
                    &.resNow {
                        background-color: black;
                        opacity: 0.30;
                    }
                    /* ... or reserved later on */
                    &.resLater {
                        background-color: black;
                        opacity: 0.8;
                    }

                    /* all bar bits */
                    > div {
                        position: absolute;
                    }

                    /* the big bits */
                    > .f, > .u {
                        top: 0px;

                        > div {
                            background-repeat: repeat-x;
                            height: 36px;
                        }
                    }

                    /* color per bit */
                    > .f  {
                        background-color: $bar_green;
                        > div { background-image: url('bar-green.png'); }
                    }
                    > .u  {
                        background-color: $bar_red;
                        > div { background-image: url('bar-red.png'); }
                    }
                }
            }
        }
    }
}

#footer {
    text-align: center;
    font-size: 10pt;
    font-weight: lighter;
    padding-bottom: 10px;

    > a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
