/* vim: set et sta bs=2 sw=4 :*/
/* This is SCSS.  See sass-lang.com */

/* variables 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* colours */
$unired: #be311a; /* van www.ru.nl/huisstijl/basiselementen/kleuren/ */
$midgray: #e0e0e0;
$lightgray: #f5f5f5;

/* widths of columns */
$cw_name: 150px;
$cw_count: 100px;

/* Some small resets */
*, body {
    padding: 0;
    margin: 0;
}

/* Ground */
body {
    /* TODO Is Helvetica Neue installed? */
    font-family: arial;
}

/* The header */
#header {
    padding: 10px;
    color: white;
    background-color: $unired;
    position: relative;

    h1, h2 {
        font-weight: normal;
    }

    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 18pt;
        font-style: italic;
    }

    #logo {
        position: absolute;
        right: 0;
    }
}

/* The main stuff */
#list {
    padding: 20px;

    /* The header of the table */
    > .header {
        height: 25px;
        position: relative;

        > div {
            position: absolute;
            text-align: center;
            top: 0;
            font-weight: bold;
            font-size: 14pt;
        }

        > .name {
            width: $cw_name;
        }
        > .bar {
            width: 100%;
        }
        > .count {
            right: 0;
            width: $cw_count;
        }
    }

    /* The actual rows of the table */
    > .rows {
        position: relative;

        /* A row in the table */
        > div {
            position: relative;
            height: 55px;

            /* background colors */
            &.odd {
                background-color: $midgray;
            }
            &.even {
                background-color: $lightgray;
            }

            > .name, > .count {
                position: absolute;
                font-size: 18pt;
                top: 14px;
                text-align: center;
            }

            /* name (left) cell */
            > .name {
                width: $cw_name;
            }

            /* count (right) cell */
            > .count {
                width: $cw_count;
                right: 0;
            }

            /* the main bar (center) cell */
            > .bar {
                padding-left: $cw_name;
                padding-right: $cw_count;
                padding-top: 9px;

                > div {
                    position: relative;

                    /* all bar bits */
                    > div {
                        position: absolute;
                    }

                    /* the big bits */
                    > .f, > .u {
                        height: 36px;
                        top: 0px;
                        background-repeat: repeat-x;
                    }

                    /* the small bits */
                    > .wf, > .lf, > .o, > .wu, > .wx, > .lu, > .lx, > .x {
                        top: 36px;
                        /* height: 1px; */
                    }

                    /* color per bit */
                    > .f  { background-image: url('bar-green.png'); }
                    > .u  { background-image: url('bar-red.png'); }

                    > .wf { background-color: blue; }
                    > .lf { background-color: yellow; }
                    > .o  { background-color: black; }
                    > .wu { background-color: blue; }
                    > .wx { background-color: darkblue; }
                    > .lu { background-color: yellow; }
                    > .lx { background-color: orange; }
                    > .x  { background-color: gray; }
                }
            }
        }
    }
}
